<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="master">
<head>
<meta charset="UTF-8">
<title>Welcome</title>
</head>
<body>

	<section layout:fragment="content">

		<a th:href="@{/add}">Add New User</a>

		<div th:each="user : ${users}">
			<p th:text="${user.name}"></p>
			<p th:text="${user.phone}"></p>
			<p th:text="${user.address}"></p>
			<a th:href="@{'/update/'} +${user.id}">Edit</a>
			<a th:href="@{'/remove/'} +${user.id}">Delete</a>
		</div>
	</section>

</body>
</html>